<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Cache-Control" content="no-store"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="referrer" content="no-referrer"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>申请单</title>

    <link rel="stylesheet" type="text/css" href="../css/audit/layui.css">
    <link rel="stylesheet" type="text/css" href="../css/audit/laydate.css">
    <link rel="stylesheet" type="text/css" href="../css/audit/base.css">
    <link rel="stylesheet" type="text/css" href="../css/audit/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../css/audit/base_fontSize.css">
    <link href="../css/audit/app.css" rel="stylesheet" type="text/css">

    <script src="../js/audit/app.js"></script>
    <script type="text/javascript" src="../js/audit/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../js/audit/base.js"></script>
    <script src="../js/audit/html5shiv.min.js"></script>
    <script src="../js/audit/respond.min.js"></script>
    <script type="text/javascript" src="../js/audit/layui.js"></script>
    <script type="text/javascript" src="../js/audit/laydate.js"></script>
    <script type="text/javascript" src="../js/audit/laypage.js"></script>
    <script src="../js/audit/cframe.js"></script>
    <script src="../js/audit/printThis.js"></script>
</head>
<body>
<div class="cBody">
    <div class="console">
        <button id="btn_1"> 账号与基本角色申请</button>
        <form class="layui-form" >

            <div class="layui-form-item">
                <div class="main">

                </div>
                <div class="au layui-input-inline">
                    <span class="span">申请者</span>
                </div>
                <div class="layui-input-inline">
                    <input type="text" name="name"   placeholder="申请者" autocomplete="off" class="layui-input">
                </div>
                <div class="au layui-input-inline">
                    <span class="span">申请时间</span>
                </div>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="time" placeholder=" 选择日期 ">
                </div>
                <button class="layui-btn" lay-submit lay-filter="submitBut">查询</button>

            </div>
        </form>

    </div>
    <table class="layui-table">
        <thead>
        <tr>
            <th>事件标识</th>
            <th>申请者</th>
            <th>申请时间</th>
            <th>系统标识</th>
            <th>基本角色标识</th>
            <th>审批者</th>
            <th>标识</th>
            <th>审批理由</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task:${task}">
            <td th:text="${task.id}"></td>
            <td th:text="${task.name}"></td>
            <td th:text="${task.createTime}"></td>
            <td th:text="${task.assignee}"></td>
            <td th:text="${task.processInstanceId}"></td>
            <td>
                <button id="btn_3" class="layui-btn layui-btn-xs">修改</button>
                <button id="btn" class="layui-btn layui-btn-xs">基本信息</button>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- layUI 分页模块 -->
    <div class="h_55"></div>
    <div id="customPages" class="customPages"></div>
</div>

<div class="form_1">
    <form action="/activi" method="post">
        <div class="input_1"><div class="login_logo">账号与基本角色申请</div><div class="close">X</div></div>
        <hr>
        <div class="input_1"><span>申请者</span><input type="text" required name="name" placeholder="&nbsp;申请者"></div>
        <div class="input_1"><span>任务类型</span><input type="type" required name="type" placeholder="&nbsp;任务类型"></div>
        <div class="input_1"><span>系统资源</span><select th:each="appList:${appList}" required name="app">
            <option></option>
            <option th:text="${appList.name}"></option>
        </select></div>
        <div class="input_1"><span>审批人</span><select th:each="appList:${appList}" required name="proposer">
            <option></option>
            <option >001</option>
        </select></div>
        <div class="input_1"><span>基本角色</span><select required name="role">
            <option>审批角色</option>
            <option></option>
        </select></div>
        <div class="input_1"><span>申请理由</span><textarea required name="description"></textarea></div>

        <div class="input_1" id="submit"><input class="close_1"   value="取&nbsp;消">&nbsp;&nbsp;&nbsp;&nbsp;<input class="submit_1" οnclick="addOrder()" type="submit" value="提&nbsp;交"></div>
    </form>
</div>


<!--查询申请单信息
<div class="form_2">
    <div class="input_1"><div class="login_logo">基本信息</div><div class="close_2">X</div></div>
    <hr>
    <div class="input_1"><span>申请者</span><input disabled type="text"  name="name" ></div>
    <div class="input_1"><span>任务类型</span><input disabled type="type"  name="type" ></div>
    <div class="input_1"><span>系统资源</span><select disabled  name="app"></select></div>
    <div class="input_1"><span>基本角色</span><select disabled name="role"></select></div>
    <div class="input_1"><span>申请理由</span><textarea disabled name="description"></textarea></div>
</div>

&lt;!&ndash;修改申请单信息&ndash;&gt;
<div class="form_3">
    <div class="input_1"><div class="login_logo">基本信息</div><div class="close_3">X</div></div>
    <hr>
    <div class="input_1"><span>申请者</span><input required type="text"  name="name" ></div>
    <div class="input_1"><span>任务类型</span><input required type="type"  name="type" ></div>
    <div class="input_1"><span>系统资源</span><select required name="app">
      &lt;!&ndash;  <c:forEach items="${appList}" var="appList">&ndash;&gt;
            <option>请选择</option>
            <option >${appList.name}</option>
        &lt;!&ndash;</c:forEach>&ndash;&gt;
    </select></div>
    <div class="input_1"><span>系统资源</span><select required name="proposer">
        &lt;!&ndash;  <c:forEach items="${appList}" var="appList">&ndash;&gt;
        <option>001</option>
        <option >${appList.name}</option>
        &lt;!&ndash;</c:forEach>&ndash;&gt;
    </select></div>
    <div class="input_1"><span>基本角色</span><select required name="role">
        &lt;!&ndash; <c:forEach items="${appList}" var="appList">&ndash;&gt;
        <option>请选择</option>
        <option>${appList.name}</option>
        &lt;!&ndash; </c:forEach>&ndash;&gt;
    </select></div>
    <div class="input_1"><span>申请理由</span><textarea required name="description"></textarea></div>
</div>-->
</body>

</html>