<!DOCTYPE html>
<!--解决idea thymeleaf 表达式模板报红波浪线-->
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org"/>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Cache-Control" content="no-store"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="referrer" content="no-referrer"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>统一身份管理系统（自助服务）</title>
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/layui.css">
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/layui.js"></script>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <div class="layui-header">
        <div class="layui-logo" style="color: #ffffff;font-size: 25px;font-weight: bold;width: 300px">统一身份管理平台
            <span class="layui-logo-span">自助服务</span></div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="../img/logo.jpg"
                         class="layui-nav-img">
                    <span th:text="欢迎你"> </span>&nbsp;<span th:text="${userName}"> </span>
                </a>
            </li>
            <li class="layui-nav-item"><a onclick="logout()" class="logout">退出</a></li>
        </ul>
    </div>

    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
    <div class=" layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree ">
                <!-- 加载系统菜单 -->
                <li class="layui-nav-item">
                    <a>自助服务</a>
                    <dl class="layui-nav-child">
                        <dd><a class="huanzi-menu" th:data-id="personInfo" th:data-url="personInfoPage">个人信息</a></dd>
                        <dd><a  class="huanzi-menu" th:data-id="selectApplyTast" th:data-url="selectApplyTast">申请</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a>我的任务</a>
                    <dl class="layui-nav-child">
                        <dd><a th:data-id="audit" th:data-url="audit" class="huanzi-menu">待审批</a></dd>
                        <dd><a class="huanzi-menu">待授权</a></dd>
                        <dd><a class="huanzi-menu" th:data-id="waitTryAgainPage" th:data-url="waitTryAgainPage">待重试</a></dd>
                        <dd><a class="huanzi-menu">待分配</a></dd>
                        <dd><a href="completeRecordsTask" class="huanzi-menu">任务记录</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <!-- 内容主体区域 -->
    <div class="layui-body" style="overflow-y: hidden;">
        <!--   动态选项卡   -->
        <div class="layui-tab" lay-filter="demo" lay-allowclose="true">
            <!-- 标题 -->
            <ul class="layui-tab-title">
                <li class="layui-this" lay-id="11">首页</li>
            </ul>
            <!-- 内容 -->
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div id="indexTabContent"  class="layui-row layui-col-space15 tab-content-div" style="padding: 20px;background-color: #F2F2F2;overflow: auto;">
                        <div class="layui-col-md6">
                            <div class="layui-card">
                                <div class="layui-card-header">欢迎使用</div>
                                <div class="layui-card-body">
                                    欢迎你，<span></span>
                                    <br/>
                                    <br/>
                                    <p>欢迎你</p>
                                    <br/>
                                    <br/>
                                    <p>欢迎你</p>
                                    <p>欢迎你</p>
                                    <p>欢迎你</p>
                                    <p>欢迎你</p>
                                    <p>欢迎你</p>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6">
                            <div class="layui-card">
                                <div class="layui-card-header">系统公告</div>
                                <div class="layui-card-body">
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6">
                            <div class="layui-card">
                                <div class="layui-card-header"></div>
                                <div class="layui-card-body">
                                    <a target="_blank" href="https://s.click.taobao.com/zb70Vtu"></a><br/>
                                    <a target="_blank" href="https://s.click.taobao.com/q9rZYtu"></a><br/>
                                    <a target="_blank" href="https://s.click.taobao.com/2khzUtu"></a><br/>
                                    <a target="_blank" href="https://s.click.taobao.com/vLrzUtu"></a><br/>
                                    <a target="_blank" href="https://s.click.taobao.com/8PG0Vtu"></a><br/>
                                    <a target="_blank" href="https://s.click.taobao.com/L110Vtu"></a><br/>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md12">
                            <div class="layui-card">
                                <div class="layui-card-header"></div>
                                <div class="layui-card-body">
                                    <a target="_blank" href="https://s.click.taobao.com/zb70Vtu"></a><br/>
                                    <a target="_blank" href="https://s.click.taobao.com/q9rZYtu"></a><br/>
                                    <a target="_blank" href="https://s.click.taobao.com/2khzUtu"></a><br/>
                                    <a target="_blank" href="https://s.click.taobao.com/vLrzUtu"></a><br/>
                                    <a target="_blank" href="https://s.click.taobao.com/8PG0Vtu"></a><br/>
                                    <a target="_blank" href="https://s.click.taobao.com/L110Vtu"></a><br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <!-- 底部固定区域 -->
        <div class="layui-footer" style="text-align: center">
            ©2020-2021 &nbsp;&nbsp;统一身份管理平台
        </div>
    </div>
</div>

<script type="text/javascript" src="../js/index.js">
</script>
</body>
</html>
