<!DOCTYPE html>
<!--解决idea thymeleaf 表达式模板报红波浪线-->
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org"/>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Cache-Control" content="no-store"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="referrer" content="no-referrer"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>统一身份管理系统（自助服务）</title>
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/layui.css">
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/layui.js"></script>
    <script type="text/javascript" src="../js/echarts.min.js"></script>
    <script type="text/javascript" src="../js/index.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <div class="layui-header">
        <div class="layui-logo" style="color: #ffffff;font-size: 25px;font-weight: bold;width: 300px">统一身份管理平台
            <span class="layui-logo-span">自助服务</span></div>
        <form action="/logout" method="get" id="submit_from">
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="../img/logo.jpg"
                         class="layui-nav-img">
                    <span th:text="欢迎你"> </span>&nbsp;<span th:text="${userName}"> </span>
                </a>
            </li>

              <li class="layui-nav-item"><a onclick="logout()" class="logout">退出</a></li>

        </ul>
        </form>
    </div>

    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
    <div class=" layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree ">
                <!-- 加载系统菜单 -->
                <li class="layui-nav-item">
                    <a> <i class="layui-icon layui-icon-template-1"></i>&nbsp;&nbsp;&nbsp;&nbsp;自助服务</a>
                    <dl class="layui-nav-child">
                        <dd><a class="huanzi-menu" th:data-id="personInfo" th:data-url="personInfoPage">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;个人信息</a></dd>
                        <dd><a  class="huanzi-menu" th:data-id="apply" th:data-url="apply">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;账号申请</a></dd>
                        <dd><a  class="huanzi-menu" th:data-id="position" th:data-url="position">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;岗位申请</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a> <i class="layui-icon layui-icon-set-fill"></i>&nbsp;&nbsp;&nbsp;&nbsp;我的任务</a>
                    <dl class="layui-nav-child">
                        <dd><a th:data-id="audit" th:data-url="audit" class="huanzi-menu">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;待审批</a></dd>
                     <!--   <dd><a class="huanzi-menu">待授权</a></dd>-->
                        <dd><a class="huanzi-menu" th:data-id="waitTryAgainPage" th:data-url="waitTryAgainPage">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;待重试</a></dd>
                    <!--    <dd><a class="huanzi-menu">待分配</a></dd>-->
                        <dd><a  class="huanzi-menu" th:data-id="completeRecordsTask" th:data-url="completeRecordsTask">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;任务记录</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <!-- 内容主体区域 -->
    <div class="layui-body" style="overflow-y: hidden;">
        <!--   动态选项卡   -->
        <div class="layui-tab" lay-filter="demo" lay-allowclose="true">
            <!-- 标题 -->
            <ul class="layui-tab-title">
                <li class="layui-this" lay-id="11">首页</li>
            </ul>
            <!-- 内容 -->
            <div class="layui-tab-content" style="background-color: #F2F2F2 ">
                <div class="layui-tab-item layui-show">
                    <div id="indexTabContent"  class="layui-row layui-col-space15 tab-content-div" style="padding: 10px;overflow: auto;">
                        <div class="layui-col-md6" >
                            <div class="layui-card" style="width: 1650px;height: 150px;background-color: #F2F2F2">
                                <div class="layui-form-item" style="padding-left: 15px;">
                                <div class="layui-input-inline" style="background-color: white;height: 130px;width: 401px;">
                                    <br>
                                    <div class="layui-card-header" style="font-size: 20px;font-weight: bold;text-align: center ">总流程数</div>
                                    <div class="layui-card-body" style="font-size: 18px;font-weight: bold;text-align: center  ">
                                        <p style="display: inline" id="sumCount"></p>&nbsp;&nbsp;
                                        <p style="display: inline; font-size: 15px; color: darkseagreen" id="todaySumCount"></p>
                                    </div>
                                </div>
                                <div class="layui-input-inline" style="background-color: white;height: 130px;width: 402px">
                                    <br>
                                    <div class="layui-card-header" style="font-size: 20px;font-weight: bold;text-align: center">待审批</div>
                                    <div class="layui-card-body" style="font-size: 18px;font-weight: bold;;text-align: center ">
                                        <p style="display: inline" id="approvalCount"></p>&nbsp;&nbsp;
                                        <p style="display: inline; font-size: 15px; color: darkseagreen" id="todayApprovalCount"></p>
                                    </div>
                                </div>
                                <div class="layui-input-inline" style="background-color: white;height: 130px;width: 395px">
                                    <br>
                                    <div class="layui-card-header" style="font-size: 20px;font-weight: bold;text-align: center">待重试</div>
                                    <div class="layui-card-body" style="font-size: 18px;font-weight: bold;text-align: center ">
                                        <p style="display: inline" id="waitTryAgainCount"></p>&nbsp;&nbsp;
                                        <p style="display: inline; font-size: 15px; color: darkseagreen" id="todayWaitTryAgainCount"></p>
                                    </div>
                                </div>
                                        <div class="layui-input-inline" style="background-color: white;height: 130px;width: 397px">
                                            <br>
                                            <div class="layui-card-header" style="font-size: 20px;font-weight: bold;text-align: center">已审批</div>
                                            <div class="layui-card-body" style="font-size: 18px;font-weight: bold;text-align: center ">
                                               <p  style="display: inline"id="historyCount"></p>&nbsp;&nbsp;
                                                <p style="display: inline; font-size: 15px; color: darkseagreen" id="todayHistoryCount"></p>
                                            </div>
                                        </div>
                            </div>
                            </div>
                            <div>
                                <div  style="background-color:white;">
                                    <div  id="EchartOrder" style="width: 900px;height: 550px;"> </div>
                                     <div  id="PieEchartOrder" style="width: 820px;height: 550px;position: absolute;left: 850px;top: 171px;background-color:white;"> </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            </div>

        </div>
        <!-- 底部固定区域 -->
        <div class="layui-footer" style="text-align: center">
            ©2020-2021 &nbsp;&nbsp;统一身份管理平台
        </div>
    </div>
</div>
</body>
</html>
