/*登陆表单样式 start*/
.usernameDiv {
    width: 358px;
    height: 40px;
    padding-left: 60px;
    padding-top: 30px;

}
.classa{
    font-size: 18px;
    color: grey;
    text-decoration: none;
}
.adminInput {
    width: 288px;
    height: 40px;
    font-size: 15px;
    border-radius: 0.5em;
    background:rgba(255,255,255,0.1);
    border:1px solid black;
    /*margin-left: auto;*/
    /* border: 1px solid #000000;*/
}
input::-ms-input-placeholder{
    text-align: center;

}
input::-webkit-input-placeholder{
    text-align: center;
}
input{
    color:white;
    font-size: 20px;
}

.passwordDiv {
    width: 358px;
    height: 40px;
    padding-left: 60px;
    padding-top: 28px;
}

.cardDiv {
    width: 120px;
    height: 40px;
    padding-top: 28px;
    padding-left: 14px;
    float: left;
}

.cardInput {
    width: 124px;
    height: 40px;
    font-size: 15px;
    border-radius: 0.5em 0em 0em 0.5em;
}

.codeDiv {
    width: 100px;
    height: 40px;
    padding-top: 28px;
    padding-right: 20px;
    float: left;
}

.codeInput {
    width: 80px;
    height: 40px;
    font-size: 15px;
    border-radius: 0em 0.5em 0.5em 0em;
    /*验证码样式*/
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
    /*border: 0;*/
    letter-spacing: 2px;
    cursor: pointer;
}

i {
    position: absolute;
}

.adminIcon {
    font-size: 22px;
    margin-top: 8px;
    margin-left: 165px;
}

.logoHead {
    width: 250px;
    height: 60px;
    padding-left: 90px;
    padding-top: 25px;
}

.usernameLabel {
    width: 80px;
    height: 30px;
    font-size: 16px;
    float: left;
    margin-left: 55px;
    margin-top: 40px;
}

.submitLabel {
    width: 160px;
    height: 30px;
    font-size: 13px;
    float: left;
    margin-left: 50px;
    margin-top: 40px;
    cursor: pointer;
}

.usernameWrapDiv {
    width: 400px;
    height: 70px;
}

.submitDiv {
    width: 170px;
    height: 40px;
    padding-left: 10px;
    padding-top: 28px;
    float:left;
    text-align: center;
}

.submit {
    width: 112px;
    height: 40px;
    border-radius: 0.5em;
    background:rgba(255,255,255,0);
    border:1.5px solid black;
    color: grey;
}

img {
    position: absolute;
}

.imgStyle {
    width: 100%;
    height: 100%;
}

/*登陆表单样式 end*/
