
.part1 {
    height: 30%;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
}

.part1 .login_logo {
    width: 100%;
    /*box-shadow: 0px 0px 6px 3px #57CCF5;*/

}

input[type="text"]:before {
    content: attr(placeholder);
}

.part2 {
    height: 60%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: center;
}

.login-d {
    display: flex;
    margin: 20px 10px;
    border: 1px solid #f2f2f2;
    padding: 0 10px;
    -webkit-align-items: center;
    align-items: center;
    border-radius: 5px;
    justify-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.login-t {
    display: flex;
    width: 100%;
    align-items: left;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    align-items: center;
    background: #F2F2F2;
}

.login-t img {
    width: 20px;
    height: 20px;
    margin: 10px 20px;
}

.login-d label {
    white-space: nowrap;

}

.login {
    width: 90%;
    height: 64%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #F2F2F2;
    padding-bottom: 20px;

}

.login #iccidMark {

}

.login input {
    border: none;
    font-size: 1.0rem;
    color: black;
    padding: 10px;
}

.login select {
    color: darkgrey;

}

.login #hist {
    border-radius: 4px;
    border: 1px solid #c8cccf;
    margin-top: 10%;
    width: 100%;
    font-size: 1.0rem;
    padding: .4rem;

}

.login button {
    padding: 2% 0 2% 0;
    border: none;
    width: 100%;
    border-radius: 4px;
    font-size: 1.2rem;
    background: #1ABC9C;
    color: #FFFFFF;
}

input::-webkit-input-placeholder { /* WebKit browsers */

    color: darkgrey;

}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */

    color: darkgrey;

}

input::-moz-placeholder { /* Mozilla Firefox 19+ */

    color: darkgrey;

}

input:-ms-input-placeholder { /* Internet Explorer 10+ */

    color: darkgrey;

}

.login .login_btn {

    width: 90%;

    margin-top: 10px;

    font-size: 1.4rem;

    background: #1ABC9C;

    border-radius: .2rem;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 0;
    box-sizing: border-box;
}
