<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.tquan.dao.PositionDao">
    <!--查询用户所属岗位-->
    <select id="getPositionByUserId" parameterType="java.lang.String" resultType="com.example.tquan.entity.PositionEntity">
       SELECT
       	ip.ID id,
	     ip.SN sn,
	     ip.`NAME` name,
	     ip.REMARK remark,
	     ip.CREATE_TIME createTime
        FROM
	        im_user_position iup
	    LEFT JOIN im_position ip ON ip.ID = iup.POSITION_ID
	    where
	        iup.USER_ID=#{userId}
    </select>
	<!--获取所有岗位-->
	<select id="findAll" resultType="com.example.tquan.entity.PositionEntity">
		SELECT
			*
		FROM
			im_position
	</select>
	<!--根据组织Id获取所有岗位-->
	<select id="orgPosition" resultType="com.example.tquan.entity.PositionEntity">
		SELECT
			orgPos.ORG_ID orgId,orgPos.IS_DEFAULT isDefault,orgPos.POSITION_ID positionId,pos.name
		FROM
			im_org_position orgPos left join im_position pos on orgPos.POSITION_ID=pos.ID
		where
			orgPos.org_id=#{orgId} and orgPos.is_default=1;
	</select>

	<!--根据岗位名称获取岗位id-->
	<select id="getPositionByName" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT
			id
		FROM
			im_position
		WHERE
		NAME = #{name}
	</select>
	<!--添加用户与岗位关联-->
	<insert id="addUserPosition" parameterType="com.example.tquan.entity.PositionEntity">
		INSERT INTO im_user_position ( USER_ID, POSITION_ID,ORG_ID)
		VALUES
		(#{userId},#{positionId},#{orgId})
	</insert>
	<!--查询用户是否存在某个岗位-->
	<select id="getInfo" parameterType="com.example.tquan.entity.PositionEntity" resultType="com.example.tquan.entity.PositionEntity">

		SELECT
			*
		FROM
			im_user_position
		WHERE
			USER_ID = #{userId} and POSITION_ID=#{positionId}
	</select>
    <!--根据岗位id查询组织内默认岗位个数-->
    <select id="orgPosCount"  resultType="java.lang.String">
		SELECT
			count(*) as counts
		FROM
			im_org_position
		WHERE
			 ORG_ID = #{orgId} and POSITION_ID=#{positionId}
	</select>
    <!--删除用户所属岗位-->
    <delete id="deleteUserPos" >
        delete from im_user_position where USER_ID=#{userId} and POSITION_ID=#{positionId}
    </delete>
</mapper>