<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.tquan.dao.PositionDao">
    <!--查询用户所属岗位-->
    <select id="getPositionByUserId" parameterType="java.lang.String" resultType="com.example.tquan.entity.PositionEntity">
       SELECT
	     ip.SN sn,
	     ip.`NAME` name,
	     ip.REMARK remark,
	     ip.CREATE_TIME createTime
        FROM
	        im_user_position iup
	    LEFT JOIN im_position ip ON ip.ID = iup.POSITION_ID
	    where
	        iup.USER_ID=#{userId}
    </select>
</mapper>