<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.tquan.dao.UserDao">
    <!--根据参数查询用户-->
    <select id="getUserByProperty" parameterType="com.example.tquan.entity.UserEntity"
            resultType="com.example.tquan.entity.UserEntity">

        SELECT
        iu.ID as id,iu.SN as sn,iu.NAME as name,iu.SEX as sex,io.NAME AS orgName,
        iut.REMARK as userTypeId,iu.TELEPHONE as telephone,iu.EMAIL as email,iu.CREATE_TIME as createTime,iu.STATUS as status,iu.OPT_USER as optUser
        FROM
        im_user iu
        LEFT JOIN im_org_user iou ON iu.ID = iou.USER_ID
        LEFT JOIN im_org io ON io.ID = iou.ORG_ID
        left join im_user_type iut on iut.ID=iu.USER_TYPE_ID
        <where>
            <if test="id != null and id != ''">
                and iu.ID=#{id}
            </if>
            <if test="sn != null and sn != ''">
                and iu.SN=#{sn}
            </if>
            <if test="name != null and name!=''">
                and iu.NAME=#{id}
            </if>
            <if test="userTypeId != null and userTypeId != ''">
                and iu.USER_TYPE_ID=#{userTypeId}
            </if>
            <if test="telephone != null and telephone != ''">
                and iu.TELEPHONE=#{telephone}
            </if>
            <if test="status != null and status != ''">
                and iu.STATUS=#{status}
            </if>
        </where>
    </select>
    <select id="findAll" parameterType="com.example.tquan.entity.FieldEntity" resultType="java.lang.String">
        select field.name,field.remark from sys_field field
    </select>

</mapper>
